textarea{
    width: 400px;
    height: 150px;
    margin-top: 5px;
    background-color: rgb(221,226,233);
    border-radius: 8px;
    border: 1px solid #2c3dd4;
    margin-left: 10px;
    padding: 8px;
    font-family: sans-serif;
    outline: none;
}